In [1]:
import pandas as pd

In [2]:
df_users = pd.read_csv('users.csv')
df_subscribers = pd.read_csv("subscribers.csv")
df_mc = pd.read_csv("marketing_campaign.csv")

In [3]:
df_users

      user_id    age_group language_preferred
0       a1000   0-18 years            English
1       a1001  19-24 years            English
2       a1002  24-30 years            English
3       a1003  30-36 years            English
4       a1004  36-45 years            English
...       ...          ...                ...
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

[10037 rows x 3 columns]

In [6]:
df_subscribers

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

      user_id subscribing_channel date_subscribed date_canceled is_retained
0       a1000           House Ads          1/1/18           NaN        True
1       a1001           House Ads          1/1/18           NaN        True
2       a1002           House Ads          1/1/18           NaN        True
3       a1003           House Ads          1/1/18           NaN        True
4       a1004           House Ads          1/1/18           NaN        True
...       ...                 ...             ...           ...         ...
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True

[10037 rows x 5 columns]

In [11]:
df_1 = df_mc.merge(df_subscribers,on='user_id',how='inner').merge(df_users,on='user_id',how='inner')

In [12]:
df_1

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,Email,1/17/18,1/24/18,False,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,Email,1/17/18,NaN,True,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,Email,1/17/18,NaN,True,0-18 years,German

Определить типы и статистики колонок

In [50]:
df_1.describe(include=('object'))

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,115,2,7,4
top,a11036,1/15/18,House Ads,control,English,False,Instagram,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,15,1279,1682,9275

In [51]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   datetime64[ns]
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 941.1+ KB

Определить эффективность маркетинговых каналов по привлечению платящих игроков

In [42]:
retention = df_1.groupby(['subscribing_channel']).agg({"user_id":"count","converted":"sum"}).reset_index()

In [44]:
retention['retention_rate'] = retention.converted / retention.user_id

In [45]:
retention

  subscribing_channel  user_id converted retention_rate
0               Email      290       167       0.575862
1            Facebook      445       237       0.532584
2           House Ads      354       298       0.841808
3           Instagram      600       265       0.441667
4                Push      167        83       0.497006

Определить количество игроков в каждой возрастной группе

In [31]:
df_1

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,Email,1/17/18,1/24/18,False,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,Email,1/17/18,NaN,True,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,Email,1/17/18,NaN,True,0-18 years,German

In [34]:
df_1.groupby("age_group").agg({"user_id":"count"}).reset_index()

     age_group  user_id
0   0-18 years     1539
1  19-24 years     1682
2  24-30 years     1568
3  30-36 years     1355
4  36-45 years     1353
5  45-55 years     1353
6    55+ years     1187

Определить самую раннюю дату подписки на сервис

In [35]:
df_1

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,Email,1/17/18,1/24/18,False,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,Email,1/17/18,NaN,True,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,Email,1/17/18,NaN,True,0-18 years,German

In [37]:
df_1['date_subscribed'] = pd.to_datetime(df_1['date_subscribed'])

/tmp/ipython-input-2937278572.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_1['date_subscribed'] = pd.to_datetime(df_1['date_subscribed'])

In [40]:
df_1.groupby('subscribing_channel')['date_subscribed'].min().reset_index()

  subscribing_channel date_subscribed
0               Email      2018-01-01
1            Facebook      2018-01-01
2           House Ads      2018-01-01
3           Instagram      2018-01-01
4                Push      2018-01-01

Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [41]:
df_1

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,36-45 years,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,Email,2018-01-17,1/24/18,False,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,Email,2018-01-17,NaN,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,Email,2018-01-17,NaN,True,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,Email,2018-01-17,NaN,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,Email,2018-01-17,NaN,True,0-18 years,German

In [47]:
df_1[df_1.is_retained==True].pivot_table(values='user_id',index='age_group',columns = 'language_preferred',aggfunc='count')

language_preferred  Arabic  English  German  Spanish
age_group
0-18 years             3.0    210.0    10.0      6.0
19-24 years            1.0    304.0    11.0     10.0
24-30 years            3.0    250.0    15.0      5.0
30-36 years            NaN    114.0     1.0      7.0
36-45 years            1.0    107.0     2.0      5.0
45-55 years            2.0    108.0     3.0      6.0
55+ years              2.0     86.0     2.0      5.0